# ignore everything by default
*

# keep gitignore itself
!.gitignore

# keep portfolio files only
!README.md
!time_series_sales_new_data.ipynb
!requirements.txt
# keep anonymized dataset
!data/
!data/daily_sales.csv


